<app-player #player (finished)="playRandomSong()"></app-player>
<div>
  <button (click)="addSongs()">Add Songs</button>
  <button (click)="removeAllSongs()">Remove All Songs</button>
  
  <ul class="playlist">
    <li *ngFor="let song of songs" 
      [class.playing]="song === playingSong"
      (click)="player.play(song); playingSong=song; titleService.setTitle(playingSong.name); ref.detectChanges();" >
      <button class="delete" (click)="deleteSong(song)">x</button>
      <a>{{song.name}}</a>
    </li>
  </ul>
</div>